.boxButton {
  font-family: $poppins;
  color: rgba($white_1, 0.9);
  font-weight: $medium;
  background: linear-gradient(47deg, $brand_1, $brand_2);

  &:hover:not(.disabled) {
    box-shadow: 0 0 10px rgba($white_1, 0.07);
    color: $white_1;
    transition: box-shadow 0.2s, color 0.25s;
  }

  &.disabled {
    color: rgba($grey_3, 0.9);
    background: rgba($inputBck, 0.9);
    cursor: default;
    transition: color 0.35s, background 0.35s;
  }
}

@mixin iconOnHover {
  transition: opacity 0.3s, transform 0.25s;
  opacity: 0.75;
}

@mixin iconOnActive {
  opacity: 0.9;
  transition: opacity 0.15;
}

.arrowBtn {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
  height: 12px;
  width: 7px;
  box-sizing: border-box;
  opacity: 0.45;
  cursor: pointer;
  transition: opacity 0.2s;

  &__horizontal {
    @extend .arrowBtn;

    height: 6px;
    width: 13px;
    transition: transform 0.2s;

    &.rotatedTop {
      transition: transform 0.25s;
      transform: translateY(-20%) rotate(180deg);
    }
  }

  &:hover:not(.disabled) {
    @include iconOnHover;
  }

  &:active:not(.disabled) {
    @include iconOnActive;
  }

  &.disabled {
    cursor: default;
    opacity: 0.16;
  }
}
