html {
  overflow-x: hidden;
}

body {
  color: $white_1;
  background-color: $blacks_1;
  font-family: $poppins;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  cursor: default;
  overflow-x: hidden;
  overflow-y: hidden;
  max-width: 100vw;
  min-height: 100vh;
}

#index {
  display: block;
  position: relative;
  min-height: 100vh;
  margin: 0 auto;
}


.mainCont{
  max-width: 600px;
  padding: 0 30px;
  display: block;
  margin: auto;
  padding-top: 120px;
}



@media (max-width: 480px) {
  .mainCont{
    padding-top: 50px;
  }
}
