// =====================================================
//    COLORS
// =====================================================

$black: #000;
$white: #fff;

$brand_1: #ee1849;
$brand_2: #f32c64;

//whites
$white_1: #fbf9ff; //logo bluish white
$white_2: #f0ecff; //header font bluish white
$white_3: #e0dbf7;
$white_4: #b1a8cf; //sub paragraph usually 0.8 opacity
$white_5: #fbf9ff; //section titles, post page title -- #f2f1fb if gradient on text


//greys
$grey_border: #9e99ce;
$grey_1: #6a6776;
$grey_2: #9d99b2;
$grey_3: #7f7c89;


$blacks_1: #080808;

//utilitColors
$inputBck: #1b1822;
$searchInptBck: #14121a;


// =====================================================
//    Fonts
// =====================================================
$poppins: 'Poppins', sans-serif;

// =====================================================
//    Fonts Weight
// =====================================================
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;

/* letter spacing
10 = 0.01em
20 = 0.02em
*/
